header {
  background-color: #000;
  padding-top: 10px;

  .nav-bar-header-superiore {
    @include caratteristiche-ul;
    justify-content: flex-end;
    margin-bottom: 10px;

    li {
      margin: 0 15px;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #739479;
        font-size: 12px;

          &:hover span {
            color: #fff;
            text-decoration: underline;
          }

        i {
          color: $maincolor;
          font-size: 16px;
          padding-right: 5px;
        }
      }
    }
  }

  .nav-bar-header-inferiore {
    @include caratteristiche-ul;
    justify-content: flex-start;

    & img{
      max-width: 120px;
      padding: 10px 15px;
    }

    li {

      &:hover .elm-nav-hdr-inf {
        color: #000;
        background-color: #fff;
      }

      &:hover {
        cursor: pointer;
      }

        .elm-nav-hdr-inf {
        display: flex;
        align-items: center;
        padding: 15px 20px;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        font-weight: 500;

        i {
          color: #739479;
          font-size: 14px;
          padding-left: 5px;
        }
      }
    }
  }
}
