.jumbo {
  background-image: url(https://www.painterartist.com//static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #fff;

    .div-hero-left{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: calc(100% / 5);

      p {
        margin-bottom: 30px;
        text-shadow: 1px 1px black;
        font-size: 10px;
      }
    }

    .div-hero-middle {
      margin-top: 50px;
      width: calc((100% / 5) * 3);
      display: flex;
      justify-content: center;

        h1 {
          font-weight: 400;
          font-size: 30px;
          margin-bottom: 25px;
        }

        h2 {
          font-weight: 400;
          font-size: 20px;
          margin-bottom: 25px;
        }

        li {
          list-style: none;
          margin: 20px 0;

          i {
            margin-right: 10px;
            color: #739479;
          }
        }

        a {
          margin: 35px 0;
          padding: 5px;
          background-color: #5B5B59;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          width: 220px;

          .inside-bnt {
            margin: 5px 10px 5px 5px;
          }

          i {
            border-left: 1px solid #fff;
            padding-left: 10px;
            font-size: 30px;
          }
        }



    }

    .div-hero-right {
      width: calc((100% / 5) * 2);
      margin-top: 30px;
      background-color: rgba(000, 000, 000, 0.9);
      padding: 30px 10px 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .div-hero-right-first-level {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-size: 25px;
        }
      }

      .flex-button {
        margin: 20px 0 50px 0;

        .btn-buy {
          background-color: #009cff;
          color: #fff;
          text-decoration: none;
          padding: 10px 40px;

          &:hover {
            background-color: #28acff;
          }
        }
      }

      .offer {
        background-color: #fff;
        color: #000;
        margin-bottom: 100px;
        padding: 10px;

        p {
          margin: 10px 0;
        }

        a {
          text-decoration: none;
          color: #009cff;
        }
      }
    }
  }
}
